.page {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  min-height: 0;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding-inline: 16px;
  }
}
